@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;

  }
  .bg-image{
    width: -webkit-fill-available;
  }

  /* navbar */

  .nav {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000000;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  /* nambar ends */
.central
{
    font-size: larger;
    position: relative;
    width: 50%;
    margin:auto;

}
.header {
    position: fixed;
    margin:auto;
    top: 20px;
    height: 55px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: 100;
  }
  .navlogo{
    height: 100%;
    width: auto;
  }
  .gradientFont{
    font-weight: 700;

    background: #c0392b;
    background: -webkit-linear-gradient(to left, #8e44ad, #c0392b);
    background: linear-gradient(to left, #8e44ad, #c0392b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }
 .icons{
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
.icons li{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.icons li img{
    width: 20px;
}

.profile{
  display: flex;
  align-items: center;
}

.color2{
  color: rgba(74, 87, 111, 0.70);
  word-wrap: break-word;
  font-family: "Inter", sans-serif;

}
.section{
  width: 50px;
    left: calc(50% - 50px / 2); 
  }

  /* .project{
    display: flex;
     flex-wrap: wrap;
     margin-left: -40px;
     
  }
  .project img{
    height: 10rem;
    border-radius: 10%;
   
  } */
  .tileHeading{
    color: #22242C;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 22px;
    word-wrap: break-word;
  }
  .workparas{
    color: #22242C;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  .gridElement:hover{
    background:radial-gradient(rgb(254, 247, 250), rgb(245, 247, 254));

}
.gridElement{

}
.type3-text
{
color: #22242C;
font-size: 14px;
font-family: Inter;
font-weight: 400;
line-height: 20px;
word-wrap: break-word;
text-align: justify;
}
.profile-img{
  width: auto; height: 150px; margin-left: -15px;
}
.profile-span1{
  color: black;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 22px;
  word-wrap: break-word
}
.profile-span2{
  color: rgb(78, 78, 78); 
  font-size: 14px;
   font-family: Montserrat; 
   font-weight: 700; 
   line-height: 22px;
    word-wrap: break-word
}
.profile-details{
  text-align:justify;
  color: #22242C;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
}
.profile-text{
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  font-size: 18px;
}
.astramain{
  margin-top: 50px;
}
.type2-text
{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}
.m1{
  animation: marquee 5s linear infinite;
  position: relative;
  margin-top: inherit;
  }
.m1::before,
.m1::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
   
}

.m1::before {
    left: 0;
   
}

.m1::after {
    right: 0;
   
}
.m1 img{
  width: auto; margin-right: 20px;
}
/* .child-project{
  display: grid;
   margin: 5%;
   width: 200px;
} */
.type4-text{
  font-weight: 500;
  font-size: 13px;
}
.rwt-heading{
  font-weight: 600;
  font-size: 18px; 
   margin-bottom: 7px;
}
.rwt{
  display: grid;
  margin-top: 20px;
}
.rwt-subdiv{
  line-height: 30px;
   display: grid;
}
.card {
  img{
    border-radius: 30px;
  }
  border-radius: 30px;
  padding: 1rem;
  height: auto;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
}

.marquee img {
  display: inline-block;
  animation: marqueeAnimation 1s linear infinite;
}

@keyframes marqueeAnimation {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}
.sayhi{
  display: flex;
  align-items: center;
  background-image: url('./assets/sayhigradient.png'); 
  border-radius: 40px;
}

.sayhi-div1{
  display: grid;
  align-self: stretch; 
  width: 50%;
  padding: 5%;
}
.sayhi-div2{
  width: 50%;
}
@media screen and (max-width: 768px) {
  .sayhi {
    flex-direction: column-reverse; 
  }

  .sayhi-div1
  {
    width: 100%; 
    padding: 2%; 
  }
  
}

.bottomnav{
  position: relative;
  text-align: center;
  font-size: 15px;
  color: rgba(74, 87, 111, 0.70);
  word-wrap: break-word;
  font-family: "Inter", sans-serif;
}
 @media only screen and (max-width:600px) {
  .bottomnav {
  font-size: 15px;
  width: 100%;
  color: rgba(74, 87, 111, 0.70);
  font-family: "Inter", sans-serif;
  
  }
  #btmnav{
  width: 100%;
  }
}
.bottomnavanch{
  padding: 10px 10px 10px 10px;
}

